/* Fonts */

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_cJD3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_ZpC3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gfD_vx3rCubqg.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v12/JTURjIg1_i6t8kCHKm45_dJE3gnD_vx3rCs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Generic styling */

html {
  font-size: 16px;
  font-family: Montserrat;
  line-height: 1.4;
}

body {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.container {
  display: flex;
  width: 100%;
}

.section-content {
  font-size: .8rem;
  font-weight: 100;
}

.section-title {
  font-size: 1.75rem;
  font-weight: bold;
}

.center {
  padding: 2rem 0;
  text-align: center;
}

.title {
  font-size: 1.15rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.content {
  font-weight: 100;
  margin-bottom: 0.5rem;
}

.read-more a {
  text-decoration: none;
  font-weight: lighter;
}

.row {
  align-items: center;
}

.light-background {
  background-color: #d9d9d9;
}

.color-background {
  background-color: #d16014;
}

.dark-background {
  background-color: #191d32;
}

img {
  border-radius: 0.5rem;
}

/* Header */

header {
  display: flex;
  height: 4rem;
  align-items: center;
  background-color: white;
  color: white;
  z-index: 2;
  position: fixed;
  width: 100%;
  opacity: 0.95;
  box-shadow: 0 0.5rem 0.5rem 0 rgba(42, 43, 42, .5);
}

.colmar {
  align-items: center;
  width: 50%;
  padding-left: 1.5rem;
  text-transform: uppercase;
}

.colmar img {
  border: 1px solid white;
  background-color: white;
  border-radius: 25%;
}

.colmar span {
  font-weight: bold;
  margin-left: .5rem;
}

.nav {
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
  width: 50%;
}

.nav li {
  display: inline-block;
  padding: 0 0.5rem;
}

.nav a {
  text-decoration: none;
  color: white;
}

header a:hover {
  border-bottom: 1px solid #d16014;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 450px) {
  .nav {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 80%;
    padding: 0;
  }

  .mobile ul {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem 0 1.5rem;
    border: 1px solid white;
    background-color: white;
    border-radius: 25%;
    height: 2rem;
  }

  .mobile img {
   display: grid;
  }

  .desktop {
    display: none;
  }

  .colmar p {
    display: none;
  }

  .colmar {
    width: 20%;
  }
  }


/* Starting Point */

.top-container {
  padding-top: 4rem;
  border-bottom: 1px solid #282f44;
}

.left {
  align-items: flex-start;
}

.left,
.image-container {
  justify-content: flex-start;
  margin: 2rem 1.5rem;
  width: 60%;
}

.left img {
  justify-content: flex-start;
  align-self: center;
  width: 100%;
  height: auto;
}

.right {
  margin: 2rem 0 2rem 1.5rem;
  width: 40%;
  align-items: center;
}

.start-here {
  width: 100%;
}

.start-here p {
  padding: 1rem 0;
  width: 70%;
}

.start-here a {
  background-color: #3b3c3d;
  padding: .5rem 5rem;
  color: white;
  text-decoration: none;
  border-radius: 25px;
}

.start-here a:hover {
  border-bottom: 1px solid #d16014;
  background-color: #191D2E;
}

.headline {
  font-size: 2.15rem;
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .top-container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    margin: 0;
  }

  .left img {
    border-radius: 0;
  }

  .right {
    width: 90%;
    margin-right: 0;
  }

  .right p {
    margin: 0;
  }

  .start-here p {
    width: 100%;
  }

  .start-here a {
    width: 100%;
    padding: 0.5rem 8.5rem 0.5rem 8.5rem;
  }

}


/* Campus Info */

.content-box .section-title {
  margin: 2rem 0 1.5rem 0;
}

.content-box span {
  margin-bottom: 2rem;
}

.author {
  font-size: .9rem;
  font-weight: 500;
}

.campus-info {
  flex-direction: column;
  margin: 0;
  padding-top: 2rem;
}

.campus-info .row {
  border: 0.5px solid lightgrey;
}

.image-column {
  flex-direction: column;
  width: 35%;
  padding-right: .5rem;
}

.info-column {
  width: 65%;
}

.image-container img {
  width: 100%
}

.row {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  width: 95%;
}

.campus {
  border-bottom: 1px solid #282f44;
}

@media only screen and (max-width: 450px) {
  .campus .left {
    display: none;
  }

  .right {
    width: 100%;
  }

  .campus {
    justify-content: center;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  .image {
    overflow: hidden;
  }

  .image-column {
    width: auto;
  }

  .image img {
    width: 100%;
    height: auto;
    display: block;
  }

  .content {
    margin-top: 1rem;
  }

}

/* Courses Section */

.content-box {
  display: flex;
  flex-direction: column;
}

.course-section {
  flex-direction: column;
  border-bottom: 1px solid #282f44;
}

.row {
  width: 100%;
  padding: 0.5rem;
}

.course {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 0 1rem;
}

.course img {
  align-self: center;
  height: auto;
  width: 100%;
  margin-bottom: 1rem;
}

.areas {
  margin-bottom: 1.5rem;
}

.row-course {
  display: flex;
  justify-content: space-between;
  margin: 0 3.5rem 2rem 3.5rem;
}

.row-course img {
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
}

.course {
  background-color: white;
  border-radius: 5%;
}

.course span {
  width: 60%;
  margin-left: 1rem;
}

.course .title {
  margin-bottom: 1rem;
}

.courses,
.areas {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-weight: lighter;
}

.move:hover {
  position: relative;
  top: -10px;
  box-shadow: 0px 0px 50px 1px white;
}

.move {
  -webkit-transition: all 400ms ease;
}

@media only screen and (max-width: 450px) {
  .course img {
    display: none;
  }

  .row-course {
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
  }

  .course {
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 10px;
  }

  .course span {
    width: auto;
  }

  .title {
    width: 100%;
  }

  .courses,
  .areas {
    display: none;
  }

  .move:hover {
    box-shadow: none;
    top: 0;
    position: inherit;
    }
  }

  .course-section {
    padding-bottom: 2rem;
  }

}

/* Exhibit Section */

.video-container {
  display: flex;
  flex-direction: column;
}

.urban {
  margin-bottom: 0.5rem;
}

.left video {
  width: 100%;
  margin-bottom: 1.5rem;
}

.exhibit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 1rem;
}

.exhibit .row {
  margin: 0;
  padding: 1rem 1rem;
}

.exhibit-image {
  width: 35%
}

.exhibit-info {
  width: 65%;
}

@media only screen and (max-width: 450px) {
  .video-container span {
    display: none;
  }

  .exhibit {
    display: none;
  }
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 2rem;
  font-size: 0.65rem;
  border-top: 1px solid #282f44;
}

.copyright {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.terms {
  margin-right: 1rem;
}

.terms ul {
  list-style-type: none;
  padding: 0;
  margin-top: 1rem;
}

li {
  display: inline-block;
}

li a {
  color: black;
  text-decoration: none;
  padding-left: 0.5rem;
}
